.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}
.button_play {
-fx-background-image: url(icons/play.png);
-fx-background-repeat:no-repeat;
-fx-background-position:center;
-fx-background-size:15px,15px;
-fx-pref-height	:20px;
-fx-pref-width	:30px;
}

.button_move{
    -fx-background-image: url(icons/arrow.png);
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    -fx-background-size:15px,15px;
    -fx-pref-height	:20px;
    -fx-pref-width	:30px;
}

.button_edit{
    -fx-background-image: url(icons/move.png);
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    -fx-background-size:15px,15px;
    -fx-pref-height	:20px;
    -fx-pref-width	:30px;
}

.button_stop{
    -fx-background-image: url(icons/stop.png);
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    -fx-background-size:15px,15px;
    -fx-pref-height	:20px;
    -fx-pref-width	:30px;
}

.button_square{
    -fx-background-image: url(icons/square.png);
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    -fx-background-size:15px,15px;
    -fx-pref-height	:20px;
    -fx-pref-width	:30px;
}
.button{
    -fx-background-color: rgba(79,79,79,0.96);
    -fx-background-radius: 0;

}

.button:pressed {
}

.button:focused {

}

.selected{
    -fx-background-color: #5a9eff;
}

.container_border{
    -fx-border-color: #464646;
    -fx-border-width: 1px;
}

.toggle-button{
   -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.toggle-button:selected{
    -fx-background-color: #5a9eff;
    /*-fx-border-color: yellow;*/

}